.todo {
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #8B0000;
    max-width: 800px;
    box-shadow: #8B0000 0 2px 4px;
}

.new-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 100%;
}

.new-list input {
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    max-width: 385px;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;

}

.dropdown-container {
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dropdown-container select {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
    background-color: white;
    margin-left: -28px;

}

.tasksContainer {
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
}

.tasksContainer input[type="text"] {
    padding: 0.5rem;
    max-width: 400px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 0.5rem;
}

.task-input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;

}

.task-input-group input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 383px;
  margin-left: -27px;
}

.task-input-group button{
    margin-right: 27px;
}

p {
    font-size: 20px;
    margin-left: -30px;
}

.list-edit-buttons button,
.tasksContainer button {
    margin: 0 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 20px;
    margin-left: -5px;

}

.edit-controls button {
    margin: 0 0.5rem;
    margin-bottom: 0.5rem;
}

.task-edit-buttons Button {
    margin: 0 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 15px;
    margin-left: 0px;
}

.edit-controls input {
    padding: 0.5rem;
    font-size: 12px;
    border: 1px solid #ccc;
    margin-left: -27px;

}

.task {
    margin-bottom: 1rem;
    margin-right: 20px;
}

